.profile__info {
  padding-left: 30px;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-areas:
                      "name edit-button"
                      "job job";
  column-gap: 18px;
  row-gap: 16px;
  align-items: baseline;
  max-width: 900px;
}

@media (max-width: 934px) {
  .profile__info{
    grid-template-columns: 1fr 18px;
    grid-template-rows: 1fr;
    grid-template-areas:
                        "name edit-button"
                        "job";
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 26px;
    padding-bottom: 34px;
    column-gap: 10px;
    row-gap: 6px;
  }
}
